/* = Highlight
========================================================================================*/
.highlight-block {

	figure {
		width: 100%;
		@include media-breakpoint-down(sm) {
			margin-bottom: rem(15);
			text-align: center;
		}

		img {
			margin: 0 auto;
		}
	}
	.cols {
		> div {
			// @extend .d-flex;
			display: flex;
			// @extend .align-items-center;
			align-items: center;
			margin-bottom: rem(10) !important;
		}
	}
	&.img-right {
		.cols {
			// @extend .flex-row-reverse;
			flex-direction: row-reverse;
		}
	}
}

.highlight-slider {

	figure {
		@include media-breakpoint-down(sm) {
			width: auto;
			margin: 0 auto;
		}
	}

	.slick-dots {
		position: relative;
		margin: map-get($spacers, 1) 0 0!important;

		.highlight-block.block-p & li button  {
			background-color: $color-white;
		}
	}
}